*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(assets/background.jpg);
    background-size: 50vw 100vh;
    background-repeat: repeat-y;
    background-color: rgb(250, 250, 250);
    display: flex;
}
@font-face {
    font-family: cool-font;
    src: url(assets/fonts/Norse-Bold.otf);
}
h1 {
    width: 100%;
    margin-top: 50%;
    font-size: 100px;
    font-family: cool-font, sans-serif;
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
}
img{
    width: 100px;
    height: 130px;
}
.odin {
    width: 30vw;
    height: 100vh;
    text-align: center;
    justify-content: center ;
}
form{
    background-color: rgb(248, 248, 248);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.151);
    padding: 100px 40px;
    max-width: 70vw;
}
.descriptive-text , h2{
    font-size: x-large;
    font-weight: 500;
    word-spacing: .2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.descriptive-text > p + p , form > *:last-child{
    margin: 30px 0;
}
.descriptive-text + section {
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.322);
    position: relative;
    min-width: 70vw;
    padding: 5px 40px;
    right: 40px;
}
fieldset {
    display: flex;
    gap : 80px;
    margin: 20px 0px;
    appearance: none;
    outline: none;
    border: none;
}
label{
    display: block;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    letter-spacing: .1rem;
}
input {
    height: 30px;
    width: 300px;
    border: 2px solid gray;
    border-radius: 3px;
    padding-left: 5px;
}
input:focus{
    outline: 2px solid rgb(117, 117, 248);
    border: none;
    box-shadow: 0 2px 10px gray;
}