*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(assets/background.jpg);
    background-size: 50vw 100vh;
    background-repeat: no-repeat;
    display: flex;
}
@font-face {
    font-family: cool-font;
    src: url(assets/fonts/Norse-Bold.otf);
}
h1 {
    width: 100%;
    margin-top: 50%;
    font-size: 30px;
    font-family: cool-font, sans-serif;
}