*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(assets/background.jpg);
    background-size: 50vw 100vh;
    background-repeat: no-repeat;
    display: flex;
}
@font-face {
    font-family: cool-font;
    src: url(assets/fonts/Norse-Bold.otf);
}
h1 {
    width: 100%;
    margin-top: 50%;
    font-size: 100px;
    font-family: cool-font, sans-serif;
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
}
img{
    width: 100px;
    height: 130px;
}
.odin {
    width: 30vw;
    height: 100vh;
    text-align: center;
    justify-content: center ;
}
.odin + div {
    background-color: white;
    max-width: 60vw;
    box-sizing: border-box;
    padding: 50px;
}
.odin + div > p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: 600;
} 
p + p {
    padding: 30px 0;
}